
/* reset */
* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #222328;
    font-family: "맑은 고딕", sans-serif;
}
a {
    text-decoration: none;
}

/* common(공통) */
body {
    width: 1000px;
    background: #fff;
    font-size: 20px;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* header 영역 */
header {
    float: left;
}
/* 이미지 슬라이드 영역 */
.imgslide {
    float: right;
    width: 800px;  
    height: 350px; 
    
    position: relative;
}
.imgslide .imgtext {
    display: block;
    width: 300px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    line-height: 50px;
    background: rgba(40,40,40, 0.3);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header .top {
    width: 200px;
    height: 650px;   
}
header .top .logo {
    width: 100%;
    height: 40px;
    margin: 30px 0;
}
header .top .menu {
    background: tomato;
    width: 95%;
    text-align: center;

}
header .top .menu .navi li {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    background: #222328;
}
header .top .menu .navi li a {
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px 0;
}
header .top .menu .navi li a:hover {
    background: #930930;
    color: #ff0 ;
}

/* 메인 컨텐츠 영역 */
.contents {
    /* background: tomato; */
    float: right;
    width: 800px;
    margin-top: 10px;
}

/* 메인 - 공지사항 */
.contents .notice {
    /* background: skyblue; */
    float: left;
    width: 38%;
    margin-right: 1%;
    position: relative;
}
.contents h2 {
    width: 80px;
    font-size: 14px;
    height: 30px;
    color: #fff;
    font-weight: 700;
    background: #222328;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left: 0;
    top: 0;
}
.contents .notice ul {
    /* background: yellowgreen; */
    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid #ccc;
}
.contents .notice ul li {
    /* box-sizing: border-box; */
    /* border: 2px solid #000; */
    padding: 8px 0;
}
.contents .notice ul li:nth-child(even) {
    background: #ccc;
}
.contents .notice ul li:hover a {
    font-weight: 700;
}
.contents .notice ul li span {
    float: right;
}

/* 메인 - 갤러리 */
.contents .gallery {
    /* background: yellow; */
    float: left;
    width: 38%;
    margin-right: 3%;
    position: relative;                    
}
.contents .gallery ul {
    /* background: skyblue; */
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding: 15px 8px;
}
.contents .gallery ul li {
    float: left;
    width: 30%;
    height: 90px;
    /* background: orange;
    border: 3px solid #000;
    box-sizing: border-box; */
    overflow: hidden;
    margin-right: 5%;
}
.contents .gallery ul li:last-child {
    margin-right: 0;
}
.contents .gallery ul li img {
    width: 100%;
}
.contents .gallery ul li:hover {
    opacity: 0.5;
}

/* 메인 - 바로가기 */
.contents .shortcut {
    /* background: green; */
    float: left;
    width: 20%;
    position: relative;
}
.contents .shortcut img {
    width: 100%;
}
.contents .shortcut .sctext {
    width: 100px;
    height: 30px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    background: rgba(40,40,40, 0.3);
    padding: 5px 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.contents .shortcut .sctext:hover {
    opacity: 0.8;
}

/* 하단 푸터 영역 */

footer {
    background: #aaa;
    float: right;
    width: 800px;
    margin-top: 10px;
    padding: 10px 0;
    position: relative;
}
footer .copy {
    float: left;
    /* background: orange; */
    width: 80%;
    text-align: center;
    font-size: 13px;
    
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}
footer .site {
    float: right;
    /* background: skyblue; */
    width: 20%;
    padding: 0 5px 0 10px;
}
footer .site .sns {
    /* background: greenyellow; */
}
footer .site .sns ul {

}
footer .site .sns ul li {
    float: left;
    margin-right: 4%;
    width: 28%;    
}
footer .site .sns ul li:hover {
    opacity: 0.7;
}
footer .site .sns ul li:first-child {
    margin-left: 4%;
}
footer .site .sns li img {
    width: 100%;
}
footer .site .familysite {
    /* background: yellow; */
    margin-top: 5px;
}
footer .site .familysite select {
    width: 100%;
    height: 30px;
}
